$TOGGLE_DURATION: 250ms;

// color behind the toggle when DARK
$inactiveTrackColor: #f1f1f1;
$inactiveTrackColorOnHover: #dee8ed;
$inactiveTrackColorOnActive: #c9d1da;

// color behind the toggle when LIGHT
$activeTrackColor: #8a8a8a;
$activeTrackColorOnHover: #334155;
$activeTrackColorOnActive: #0f172a;

// color of moon icon
$inactiveThumbColor: #1e293b;

// bg color of toggle switch when LIGHT
$activeThumbColor: #f1f1f1;
$focusRingColor: rgb(59 130 246 / 0.5);

.toggle {
  @apply inline-flex items-center;
  span {
    @apply p-1.5 transition-colors;
    transition: color $TOGGLE_DURATION ease-in-out;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    @screen sm {
      @apply p-2;
      font-size: 12px;
    }
  }
  input {
    @apply relative overflow-hidden;
    transition: all $TOGGLE_DURATION ease-in-out;
    transition-property: box-shadow, background-color;
    appearance: none;
    margin: 0;
    outline: none;
    border-radius: 14px;
    width: 48px;
    height: 28px;
    background-color: $inactiveTrackColor;
    cursor: pointer;
    user-select: none;

    &:checked {
      background-color: $activeTrackColor;

      &:hover,
      &:hover::after {
        background-color: $activeTrackColorOnHover;
      }

      &:active,
      &:active::after {
        background-color: $activeTrackColorOnActive;
      }

      &::before {
        left: 24px;
        background-color: $activeThumbColor;
      }

      &::after {
        top: 12px;
        right: 2px;
        width: 1px;
        height: 1px;
        border-radius: 0.5px;
        background-color: $activeTrackColor;
      }
    }
    &:hover,
    &:hover::after {
      background-color: $inactiveTrackColorOnHover;
    }

    &:focus,
    &:focus-visible {
      box-shadow: 0 0 0 2px $focusRingColor;
    }

    &:focus:not(:focus-visible) {
      box-shadow: none;
    }
    z &:active,
    &:active::after {
      background-color: $inactiveTrackColorOnActive;
    }

    &::before {
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      display: block;
      transition: all $TOGGLE_DURATION ease-in-out;
      transition-property: left, background-color;
      width: 20px;
      height: 20px;
      border-radius: 12px;
      background-color: $inactiveThumbColor;
    }

    // OVERLAY TO CREATE MOON ICON
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 33px;
      height: 30px;
      border-radius: 16px;
      top: -5px;
      right: 3px;
      background-color: $inactiveTrackColor;

      transition: all $TOGGLE_DURATION ease-in-out;
      transition-property: top, right, width, height, border-radius,
        background-color;
    }
  }
}
